@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Instrument+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}


/* Hide top Google bar completely */
body > .skiptranslate {
  display: none !important;
}

/* Remove top gap */
body {
  top: 0px !important;
}

/* Hide Google widget */
.goog-te-gadget {
  display: none !important;
}